extends ../layouts/default

block content
	.page-header
		h2 Gallery

	mixin gallery
		.col-xs-12.col-sm-4.col-md-3
			a(href="/gallery/item").thumbnail
				img(data-src="holder.js/300x200")
				.caption
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur minus aliquid, debitis ducimus, velit sit vero! 
	+gallery
	+gallery
	+gallery
	+gallery
	+gallery
	+gallery
