extends ../layouts/default

block content
	.page-header
		h2 Products
	each product in products
		.col-xs-12.col-md-4
			.thumbnail
				h4= product.title
				a(href="/products/category"): img(src="/upload/products/#{product.image.filename}")
				.caption
					p= description
	